{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block head_title %} d3$tinn3 {% endblock %}</title>
        {% include 'head/css.html' %}   
    </head>
    <body>
        <div class="bg-gradient-to-r from-sky-600 via-sky-400 to-sky-800 flex h-screen justify-center items-center text-white">
            {% block content %}{% endblock %}
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
    </body>
</html>
    